{% extends "base.html" %}
{% block content %}

    <div class="container">
      <form class="form-signin" method="post" action="/login_action/">
        <h1 class="form-signin-heading" style="text-align:center;color: #337ab7;">测试管理平台</h1>
        <label for="inputname" class="sr-only">用户名</label>
        <input type="text" id="inputname" name="username" class="form-control" placeholder="请输入用户名" required>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入密码" required>
        <p style="color: red;">{{ error }}<p>
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>
    </div> <!-- /container -->

{% endblock %}

